.bi-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border: 2px solid black;
    padding: 2rem;
    height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;

    &__background {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5)
    }

    &__close {
        align-self: flex-end;
    }
}