.divisionItem {
    margin: 1rem;
    display: flex;

    &:not(:last-child) {
        border-bottom: 1px solid gray;
        padding-bottom: 1rem
    }

    input,a {
        margin: 0 20px;
        display: flex;
        align-items: center;
    }
}