.authorization {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__form {
        display: flex;
        align-items: flex-start;
    }

    &__login,
    &__password {
        margin-right: 1rem
    }

    &__error {
        font-size: 12px;
        color: red;
    }

    &--right {
        justify-content: flex-end;
    }

    .btn {
        margin-top: 1.5rem;
    }
}